*.o
*.la
*.so
*.lo
*.Plo
autom4te.cache
aclocal.m4
config.*
configure
depcomp
install-sh
liboptimization-0.1.pc
liboptimization.pc
*.a
*.lai
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
/optimization/_task.pb.cc
/optimization/task.pb.h
/optimization/_discovery.pb.cc
/optimization/discovery.pb.h
docs/html
docs/latex
docs/doxygen.cfg
docs/Doxyfile
